html {
	box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  background-color: #efeee9;
	text-align: center;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h1 {
	color: #4a1900;
}

ul {
  padding: 0;
	list-style-type: none;
}

nav {
	margin: 0;
	padding: 0;
  color: #efeee9;
	background-color: #9a816d;
}

body {
	border-radius: 0px;
	border-color: #795437;
	padding: 0;
	margin: 0;
}

a:hover {
	background-color: #795437;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #efeee9;
}

li{
	border: 0px #795437;
	padding: .5em;

}
