html {
	box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  background-color: #efeee9;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h1 {
	color: #4a1900;
}

nav {
  color: #efeee9;
	background-color: #9a816d;
}

body {
	border-width: thin;
	border-color:
}
